%flexColumnCentradoVertical {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    align-items: center; 
}

// %flexJCCenterAICenter;
%flexRowCentradoVertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}