/* componenente servicios *****************/
.index-servicios-container-flex {
  gap: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.index-servicio-card {
    @extend %flexColumnCentradoVertical; //  esto lo agregue yo
    justify-content: flex-start; /* distinto a otros */   
    max-width: 20rem;
    background-color: #ccc;
    padding: 0.5rem;
    // gap: 0.75rem;
    transition: transform 0.5s;  

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        border-radius: 0.375rem;
        margin-bottom: 1rem;
    }

    p {
        // font-size: 0.9rem;
    }

    .precio {
        color: rgb(168, 17, 42);
        font-size: 1rem;
        font-weight: 600;
    }

    button {
        margin-top: auto;        
        width: 100%;
        border: 1px solid rgb(168, 17, 42);
        padding: 0.5rem;
        border-radius: 0.5rem;        
        background-color: rgba(245, 231, 233, 0.993);
    }
}