/* header *****************/
* {
    font-family: "Montserrat", sans-serif;    
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;    
    color: #000000;
}

.hero-tituloSitio, h1, .logo {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-size: 4rem;
}
.index-header {
    //background-image: url("../../img/imagenfondo.jpg");
    background-size: cover;
    background-position-x: 70%;
    background-position-y: 12%;
    height: 95vh;
}

.index-header-contenedor-inferior {    
    @extend %flexColumnCentradoVertical;
    justify-content: center;    
    height: 100%;
    padding: 3rem 1rem 3rem 1rem;
    gap: 3rem;
}

.index-header-btn-contactar {
    width: 80%;
    max-width: 25rem;
    border: 1px solid rgb(168, 17, 42);
    padding: 0.5rem;
    border-radius: 0.5rem;        
    background-color: rgba(245, 231, 233, 0.993);

    transition: transform 0.4s;

    &:hover {
        transform: scale(1.05);
    }
}
